data/Data_28May_2019_TE/SBA/*/bs_*
data/Data_28May_2019_TE/SBA/*/bs_*
.Rhistory
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.o
*.synctex.gz
*.toc
*-woven*
*auto/
*cache/
text/outline/*.out
text/outline/*.tex
text/outline/*.html
data/Data_28May_2019_TE/BrS/summary/cephalopod.pdf
data/Data_28May_2019_TE/BrS/summary/figures
text/summary/figures
text/summary/ceph.tex
text/summary/ceph.pdf

