data/Data_28May_2019_TE/SBA/*/bs_*
data/Data_28May_2019_TE/SBA/*/bs_*
.Rhistory
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.o
*.synctex.gz
*.toc
*auto/
*cache/
text/outline/*.log
text/outline/*.out
text/outline/*.tex
text/outline/*.html
data/Data_28May_2019_TE/BrS/summary/figures/tree-1.pdf
data/Data_28May_2019_TE/BrS/summary/summary-woven-exported.log
data/Data_28May_2019_TE/BrS/summary/summary-woven.tex
data/Data_28May_2019_TE/BrS/summary/cephalopod.pdf
