data/Data_28May_2019_TE/SBA/*/bs_*
data/Data_28May_2019_TE/SBA/*/bs_*
.Rhistory
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.o
*.synctex.gz
*.toc
*-woven*
*auto/
*cache/
text/outline/*.out
text/outline/*.tex
text/outline/*.html
data/Data_28May_2019_TE/BrS/summary/cephalopod.pdf
data/Data_28May_2019_TE/BrS/summary/figures
text/summary/figures
text/summary/ceph.tex
text/summary/ceph.pdf

/sims/sim2/figures/alt_params-1.pdf
/sims/sim4/figures/alt_params-1.pdf
/sims/sim5/figures/alt_params-1.pdf
/sims/sim6/figures/alt_params-1.pdf
/sims/sim7/figures/alt_params-1.pdf
/sims/sim8/figures/alt_params-1.pdf
/sims/sim9/figures/alt_params-1.pdf
/text/outline/outline.pdf
/sims/sim1/figures/alt_params-1.pdf
